body {
    font-family: 'Lora', serif !important;
    background-color: #f0f0f0;
}

.tab__elem {
    color: #333 !important;
}

.title {
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 54px;
    color: #333;
}

.tab__list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: #333;
}


.priceTitle {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #333;
}

.content {
    margin-top: 80px;
}

@media (max-width: 550px) {
    .content {
        overflow-x: scroll;
    }
}

a,
a:hover {
    color: black;
}

.container_ {
    padding-bottom: 60px;
}