.tab__wrapper {
    text-transform: uppercase;
    border: 1px solid #f9f9f9;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid white;
    background-color: white;
    cursor: pointer;
    transition: 0.4;
}

.tab__wrapper:hover {
    background-color: #f9f9f9;
    border-color: #f9f9f9;
}

.subtitle {
    margin-bottom: 7px;
    font-weight: bold;
}

.title {
    font-weight: bold;
    margin-bottom: 10px;
}

.elem {
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
}

.elemName {
    width: 350px;
}

.end {
    margin-bottom: 25px;
}

.elemCost {
    font-weight: bold;
}