.container__wrapper {
    padding-top: 81px;
}

.card {
    width: 100%;
    height: 500px;
    /* border: 1px solid #00000011; */
    margin: 40px 0;
    display: flex;
    gap: 10px;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    padding: 5px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image {
    height: 100%;
    width: 800px;
    background-image: url("https://avatars.mds.yandex.net/get-altay/1627037/2a00000168a81b79ceb664662e07ad57f8c1/XXL");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
    border-radius: 5px 0 0 5px;
}

.icon {
    margin-right: 7px;
    color: rgb(46, 46, 46);
}

.imageUnder {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.card div {
    margin-bottom: 10px;
}

.map a {
    color: #212529;
}

.mail a {
    color: #212529;
}

.info {
    padding: 5px 10px;
}

.name {
    margin-bottom: 20px;
    font-weight: bold;
}


.socialNetworks {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
}

.vk,
.instagram {
    width: 40px;
    height: 40px;
}

a {
    color: inherit !important;
}

.socialNetwork:hover {
    color: #212529de !important;
}